extends ../layout

block content
  .feed
    each day in feed
      .day #{day.date.toLocaleDateString()}
        .activity
          each activity in day.activity
            .line #{activity.author.name} &lt;#{activity.author.email}&gt; &mdash; #{activity.name} &mdash; #{activity.message} (#{activity.commit.slice(0, 10)})
